h1, h2{
    color: orangered;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    margin-top: 0px;
}

h1{
    font-size: 36px;
    border-bottom: 4px solid orangered;
}

h2{
    font-size: 24px;
    border-bottom: 2px solid orangered;
}

li{
    font-weight: 800;
    font-size: 18px;
}

img{
    height: auto;
    width: 500px;
}

p{
    text-align: center;
}

.container{
    padding-left: 8px;
    padding-right: 8px;
}

.header{
    padding: 0px;
    margin: 0px;
}

.creator{
    padding-left: 850px;
    color: white;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}